{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
<body>
    {% block content %}
    {% if items %}
    <div class="container mt-5">
        <h2>Carrito de Compras</h2>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><h5>Producto</h5></th>
                    <th><h5>Cantidad</h5></th>
                    <th><h5>Precio</h5></th>
                    <th><h5>Total</h5></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.botella.nombre }}</td>
                        <td>{{ item.cantidad }}</td>
                        <td>${{ item.botella.precio }}</td>
                        <td>${{ item.botella.precio|multiply:item.cantidad }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Total: ${{ total }}</h3>
    </div>
    {% else %}
    <div class="container mt-5">
        <h3>No hay productos en tu carrito</h3>
    </div>
    {% endif %}
    {% endblock %}
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>